@{
	ViewData["Title"] = "Details";
}
<h1>Details</h1>

<h3>Id</h3>
<p>@Model.Id</p><br/>

<h3>Name</h3>
<p>@Model.Name</p><br/>

<h3>Address</h3>
<p>@Model.Adress</p><br/>

<h3>Salary</h3>
<p>@Model.Salary</p><br/>

<h3>Department</h3>
<p>@Model.department</p><br />

<h3>Office Id</h3>
<p>@Model.Office_Id</p><br />

<h1> 
	<a href="/Employees/information">Go bcak to list</a>
</h1>