@Model Employee
@{
    ViewData["Title"] = "Details";
    
}
<h1>Details</h1>



<div class="card text-center" >
    
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Adress</li>
        <li class="list-group-item">@Model.Salary</li>
        <li class="list-group-item">@Model.department</li>
        <li class="list-group-item">@Model.Office_Id</li>
    </ul>
    <div class="card-body">
        <a href="/Employees/information" card-link" class="btn btn-success">Back To Info</a>
        
    </div>
</div>